<!DOCTYPE html>
<html lang="en">

<head>
    <title>ADA Magic NFT Marketplace</title>
    <link rel="icon" href="/templates/gigatheme/images/icon.png" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ADA Magic Marketplace. Buy and create NFTs with no upfront fees and no knowledge. Get started today!" name="description" />
    <meta content="ADA Cardano NFT Blockchain mint create NFT CNFT" name="keywords" />
    <meta content="Cardano Magic" name="author" />


    <!-- CSS Files
    ================================================== -->

    <style id="bootstrap" rel="stylesheet" type="text/css">{% include '/gigatheme/css/bootstrap.min.css' %}</style>
    <style rel="stylesheet" type="text/css">{% include '/gigatheme/css/plugins.css' %}</style>
    <style rel="stylesheet" type="text/css">{% include '/gigatheme/css/style.css' %}</style>
    <style id="colors" rel="stylesheet" type="text/css">{% include '/gigatheme/css/colors/scheme-01.css' %}</style>
    <style rel="stylesheet" type="text/css">{% include '/gigatheme/css/coloring.css' %}</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<style>

  .wallet_display{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  word-wrap: break-word;
}



</style>
<script>
    function saveImage(ids){
  var url = 'https://adamagic.io/api/hearts/';
  url += ids;
  let xmlHttpReq = new XMLHttpRequest();
  xmlHttpReq.open("POST", url, false); 
  xmlHttpReq.send(null);
}
</script>

<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-BSXRWJF04W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-BSXRWJF04W');
</script>

<script src="https://cdn.websitepolicies.io/lib/cookieconsent/cookieconsent.min.js" defer>
</script>
<script>window.addEventListener("load",function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#f0edff","text":"#000000","border":"#5e65c2"},"button":{"background":"#5e65c2","text":"#ffffff"}},"content":{"href":"/cookie_policy"}})});
</script> -->
</head>
<body>
