<head>
<title>List of lists</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="List of lists online" />
<meta name="language" content="English">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="List of lists Sub Categories This is a meta description sample. We can add up to 160 characters. KEYWORDS, Call to action! Apply now, click here for best books lists from the 2021" />
<meta name="keywords" content="list, lists, list of lists, book, books,
sub category, sub categories" />
<link rel="canonical" href="{{pageUrl}}" />
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="all" /> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script type="text/javascript">

function copytable(el) {
    var urlField = document.getElementById(el)   
    var range = document.createRange()
    range.selectNode(urlField)
    window.getSelection().addRange(range) 
    document.execCommand('copy')
}

</script>
</head>