{% include '/includes/giga_head.html' %}

    <div id="wrapper">
        <!-- header begin -->
        {% include '/includes/giga_header.html' %}
        <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>

            <!-- section begin -->
            <section class="text-light" data-bgimage="url(images/background/subheader.jpg)" data-stellar-background-ratio=".2">

                <div class="center-y relative text-center" data-scroll-speed="4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                            <div class="col text-center">
                                <div class="spacer-single"></div>
                                <h1>Frecuently Asked Questions</h1>

                                
                                <div class="spacer-20"></div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- section close -->

            <!-- section begin -->
			<section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb25">
                            <div class="feature-box f-boxed style-3 text-center">
                                <div class="text">
                                    <h4>What is ADA Magic Marketplace?</h4>
                                    <p>It is a marketplace where you can sell your artwork with no upfront fees. Once you sell a piece, it will get converted as NFT and sent to the buyer, the money will be deposited in your account.</p>
                                </div>
                            </div>
                        </div>    

                        <div class="col-lg-4 col-md-6 mb25">
                            <div class="feature-box f-boxed style-3 text-center">
                                <div class="text">
                                    <h4>Is it safe to use this marketplace?</h4>
                                    <p>Yes, ADA Magic was built with strong security measures in mind and best industry standard and practices.</p>
                                </div>
                            </div>
                        </div>  

                        <div class="col-lg-4 col-md-6 mb25">
                            <div class="feature-box f-boxed style-3 text-center">
                                <div class="text">
                                    <h4>What happens if the website goes down?</h4>
                                    <p>The core of the marketplace remains operational. You will always be able to: sell your already uploaded work, receive the bought NFT, collect the money you earnt from your and transfer your funds anywhere you please at any given time.</p>
                                </div>
                            </div>
                        </div>  

                        <div class="col-lg-4 col-md-6 mb25">
                            <div class="feature-box f-boxed style-3 text-center">
                                <div class="text">
                                    <h4>What is Cardano?</h4>
                                    <p>Cardano is a blockchain platform for changemakers, innovators, and visionaries, with the tools and technologies required to create possibility for the many, as well as the few, and bring about positive global change.</p>
                                </div>
                            </div>
                        </div>  

                        <div class="col-lg-4 col-md-6 mb25">
                            <div class="feature-box f-boxed style-3 text-center">
                                <div class="text">
                                    <h4>How do I use the marketplace?</h4>
                                    <p>As simple as creating a new account and uploading some of your artwork, as simple as that. If you are a buyer you simply send the ADA to the account of the NFT you want to buy.</p>
                                </div>
                            </div>
                        </div>  

                        <div class="col-lg-4 col-md-6 mb25">
                            <div class="feature-box f-boxed style-3 text-center">
                                <div class="text">
                                    <h4>How much does it cost to use this service?</h4>
                                    <p>If you are a buyer the costs are what you see when you open an artwork. If you are an artist there are no upfront costs. Costs will only be charged once one of your artwork gets sold. The cost of minting is 1 ADA and the cost of selling is 1 ADA per 100 ADA of the price of the sold NFT, that is, 2 ADA if the NFT is worth (0-99 ADA), 3 ADAs if the NFT is worth (100-199 ADAs),... plus the sending transactions (0.2 ADA aprox.) times 2 (0.4 ADA) and the inherited 1.5 ADA to send along the NFT imposed by the Cardano network.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb25">
                            <div class="feature-box f-boxed style-3 text-center">
                                <div class="text">
                                    <h4>What is the blockchain?</h4>
                                    <p>It is a solution to a beautiful mathematical problem proposed back in the 70s, the general's byzantine problem. The solution is what we now call the blockchain, a growing list of records, called blocks, that are linked together using cryptography. Each block contains a cryptographic hash of the previous block, a timestamp, and transaction data (generally represented as a Merkle tree). The timestamp proves that the transaction data existed when the block was published in order to get into its hash.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb25">
                            <div class="feature-box f-boxed style-3 text-center">
                                <div class="text">
                                    <h4>How do I mint an NFT?</h4>
                                    <p>If you do not have an account the first thing you need to do is creating one and log in. Once you are logged in go to the <a href="https://adamagic.io/mint">mint</a>section. Select from your computer your artwork and upload it. Fill out the best way possible the form you are presented with and click "Submit". If something goes wrong, please, contact us via Twitter at our account <a href="https://twitter.com/ada_magic_io">@ada_magic_io</a> or by email at <a href="mailto:info@adamagic.io">info@adamagic.io</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb25">
                            <div class="feature-box f-boxed style-3 text-center">
                                <div class="text">
                                    <h4>I do not find the answer I want to know</h4>
                                    <p>Please, contact us via Twitter at our account <a href="https://twitter.com/ada_magic_io">@ada_magic_io</a> or by email at <a href="mailto:info@adamagic.io">info@adamagic.io</a> and we will try to solve your problem as soon as possible.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>
        
        <!-- footer begin -->
        {% include '/includes/giga_footer.html' %}