{% include '/includes/giga_head.html' %}
    <div id="wrapper">

        <!-- header begin -->
        {% include '/includes/giga_header.html' %}
        <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(images/background/subheader.jpg) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">

                                <div class="col-md-12 text-center">
									<h1>Account recovery</h1>
                                    {% if msg %}
                                    <h4>{{msg}}</h4>
                                    {% endif %}
									<p>Please, enter here the email associated with the account.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->


            <section aria-label="section">
                <div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2">							
							<div class="spacer-10"></div>
							
							<form name="contactForm" id='contact_form' class="form-border" action="/forgot_recovery" autocomplete="off" method=post >
                                <input autocomplete="false" name="hidden" type="text" style="display:none;">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <label>Email:</label>
                                            <input type='text' name='email' id='email' class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-12">

                                        <div id='submit' class="pull-left">
                                            <input type='submit' id='send_message' value='Submit' class="btn btn-main color-2">
                                        </div>

                                        <div id='mail_success' class='success'>Your message has been sent successfully.</div>
                                        <div id='mail_fail' class='error'>Sorry, error occured this time sending your message.</div>
                                        <div class="clearfix"></div>

                                    </div>

                                </div>
                            </form>
							
						</div>
                    </div>
				</div>
            </section>
			
			
        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>
        
        <!-- footer begin -->
        {% include '/includes/giga_footer.html' %}