{% include '/includes/giga_head.html' %}
    <div id="wrapper">

        <!-- header begin -->
        {% include '/includes/giga_header.html' %}
        <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(images/background/subheader.jpg) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">

                                <div class="col-md-12 text-center">
									<h1>Enter new password</h1>
                                    {% if msg %}{{ msg }}{% else %}{% endif %}
									<p>Please, enter a new password.</p>
                                    <p>Didn't receive the code? <a href="/resend_otp">resend code</a></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->


            <section aria-label="section">
                <div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2">							
							<div class="spacer-10"></div>
							
							<form name="contactForm" id='contact_form' class="form-border" action="/new_user_password" autocomplete="off" method=post >
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                <input autocomplete="false" name="hidden" type="text" style="display:none;">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <label>Password:</label>
                                            <input type='password' name='password0' id='myPassword0' class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <label>Re-enter Password:</label>
                                            <input type='password' name='password1' id='myPassword1' class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <input type="checkbox" onclick="showPassword()">Show Password <br />
                                        </div>
                                    </div>
                                    {% if hexadecimal %}
                                    <input type="hidden" name="hexadecimal" value="{{ hexadecimal }}">
                                    {% endif %}

                                    <div class="col-md-12">

                                        <div id='submit' class="pull-left">
                                            <input type='submit' id='send_message' value='Submit new password' class="btn btn-main color-2">
                                        </div>

                                        <div id='mail_success' class='success'>Your message has been sent successfully.</div>
                                        <div id='mail_fail' class='error'>Sorry, error occured this time sending your message.</div>
                                        <div class="clearfix"></div>

                                    </div>

                                </div>
                            </form>
							
						</div>
                    </div>
				</div>
            </section>
			
			
        </div>
        <!-- content close -->
        <script>
            function showPassword() {
              var x = document.getElementById("myPassword0");
              var y = document.getElementById("myPassword1");
              if (x.type === "password") {
                x.type = "text";
                y.type = "text";
              } else {
                x.type = "password";
                y.type = "password";
              }
            }
        </script>
        <a href="#" id="back-to-top"></a>
        
        <!-- footer begin -->
        {% include '/includes/giga_footer.html' %}