<div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <a href='https://adamagic.io/profile/{{ nft["username"] }}'>{{ nft["artist"] }}</a>
    <div class="nft__item">
        <div class="author_list_pp">
            <a href='{{ nft["link"] }}' data-bs-toggle="tooltip" data-bs-placement="top" title='{{ nft["nft_name"] }}'>                                    
                <img class="lazy" src='data:image/png;base64, {{profile_pictures[nft["username"]] }}' alt="">
            </a>
        </div>
        <div class="nft__item_wrap">
            <div class="nft__item_extra">
                <div class="nft__item_buttons">
                    {% if int(nft["issold"]) == 1 %}
                        <button>SOLD</button>
                    {% else %}
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                    {% endif %}
                    <div class="nft__item_share">
                        <h4>Share</h4>
                        <a href='https://www.facebook.com/sharer/sharer.php?u=https://adamagic.io/show_single_nft/{{nft["internal_id"]}}' target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href='https://twitter.com/intent/tweet?url=https://adamagic.io/show_single_nft/{{nft["internal_id"]}}' target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href='mailto:?subject=I wanted you to see this site&amp;body=Check out this NFT https://adamagic.io/show_single_nft/{{nft["internal_id"]}}'><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <a href='{{ nft["link"] }}'>
                <div class="d-placeholder"></div>
                <img src='data:image/png;base64,{{ nft["image"] }}' class="lazy nft__item_preview" alt="">
            </a>
        </div>
        <div class="nft__item_info">
            <a href="item-details.html">
                <h4>{{ nft["nft_name"] }}</h4>
            </a>
            <div class="nft__item_click">
                <span></span>
            </div>
            <div class="nft__item_price">
                {{ nft["price"] }} ADA
            </div>
            <div class="nft__item_like" id='{{ nft["internal_id"] }}'>
                <i class="fa fa-heart {% if nft['internal_id'] in remembered_hearts %}active{% endif %}"></i><span>{{ nft["hearts"] }}</span>
            </div>                            
        </div> 
    </div>
</div> 